/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


html, body {
  margin: 0px;
  width:100%; /* take full browser width */
}
@media all and (max-width: 570px) {
  html{
    height: 100vh;
  }
}
@media all and (min-width:540px) and (max-width: 900px) {
  html{
    height: 150vh!important;
  }
}