*:not(.fa){
    font-family:'Poppins', sans-serif;
  }
  
  
  
  /* TYPO */
  button{
    font-size: 1em;
    font-weight: bold;
    height: 50px;
    width: 120px;
    border-radius: 10px;
    background-color: pink;
  }

  .credit-text{
    font-size: 0.8em;
    color: black;
    margin: 0px;
    padding: 5px;
  }
  .buttons-container{
    display: flex;
    justify-content: space-around;
    width: 90%;
  }
  .small{
    font-size: 1em;
    font-weight: bold;
    height: 50px;
    /* width: 210px; */
    border-radius: 10px;
    background-color: pink;
  }
  .the-fucking-author{
    font-size: 0.975em;
    margin: 0px;
    color: #707070;
    font-style: italic;
    text-align: center;
  }
  .the-fucking-quote{
    font-size: 1.2em;
    margin: 0px;
    padding: 10px;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    color: black;
    font-family: 'Rubick', sans-serif;
  }
  .main-title{
    padding: 7.5px 0px 0px 7.5px;
    font-size: 2.90em;
    margin: 0px;
    font-weight: 700;
    color: #707070;
    text-align: center;
  }
  
  .controller-subtitle{
    color: #707070;
    font-size: 1.125em;
  }
  
  .credit-text{
    text-align: center;
  }
  
  .main-subtitle{
    margin: -15px 0px 0px 7.5px;
    color: #707070;
    font-size: 0.6em;
    text-align: center;
  }
  
  
  .controller-title{
    padding: 7.5px 0px 0px 7.5px;
    font-size: 2.25em;
    margin: 0px;
    font-weight: 200;
    text-align: center;
    color: #707070;
    padding: 15px;
  }
  
  .sub-title{
    bottom: 10px;
    padding: 15px 0px 15px 0px;
    font-size: 3em;
    margin: 0px;
    font-weight: 700;
    text-align: center;
    color: #4d4d4d;
    text-decoration: underline;
    font-family: 'Fugaz One', cursive;
  }
  /* CONTAINERS */

  .controller-title-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .controller-action-container{
    height: 86%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    margin-bottom: 20px;
  }

  ::ng-deep .mat-chip{
    cursor: pointer;
  }
  
  ::ng-deep .mat-chip-list{
    justify-content: center;
    width: 70%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 11px;
  }

  ::ng-deep .mat-chip-list-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .img-container{
    justify-content: space-between;
    display: flex;
  }
  
  section{
    height: 100vh;
    display: flex;
  }
  .main-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    height: 100%;
    /* background-image: url('../../../assets/memphis-colorful.png'); */
    width: 70%;
  }
  
  .sub-content{
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .header{
    width: 100%;
    height: auto;
    padding-bottom: 15px;
  }
  
  .controller{
    width: 27%;
    padding-right:3%;
    display: flex;
    align-content: space-around;
    justify-content: space-between;
    flex-direction: column;
    background-color: white;
    /* background-image: url('../../../assets/memphis-colorful.png'); */


  }
  

  
  .controller-footer{
    height: 65px;
    padding: 7.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

  }
  .controller-content-aligner{
    display: flex;
    width: 100%;
  }

  
  .credit-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 170px;
  }
  .quote-box{
      height: 150px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding:15px;

    }
    .active-tag{
      background: pink;
    }
  /* IMAGERY */

  .logo-text{
    width: 100%;
  }
  .logo-img{
    width: 100px;
    padding: 10px;
  }

  .insta-img{
    width: 100%;
  }
  .image-one{
    width: 337.5px;
    height: 375px;
    /* background-image: url("../../../assets/noLikes.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover; */

}
  .image-two{
    width: 337.5px;
    height: 375px;
  }

  .social{
    width: 20px;
  }


@media all and (max-width: 1690px){ }
@media all and (max-width: 1280px){

 }
@media all and (max-width: 980px) {
  section{
    width: 100vw;
  }
  .main-content{
    display: none
  }
  .controller{
    width: 100%;
    padding: 0px;
  }
  .main-title{
    padding: 0px;
  }
 }
@media all and (max-width: 900px) { 
  section{
    height: 100%;
  }
}
@media all and (max-width: 570px) { 
  section{
    height: 100vh;
  }
  .controller{
    display: block;
  }
 
}

@media all and (max-width: 320px) { 

  section{
    height: 120vh;
  }
 
  .controller-footer{
    flex-direction: row;
  }
  .hide{
    display: none;
  }

}
 
